html,body{
    position: relative;
    height: 100%;
}

.selected{
    background: #0f0
}

.ann-input{
    background: #dfe
}

.table-condensed{
  font-size: 1rem;
}

.active {
    background: #0f0;
}

.event_s {
    background: #0ff;
}

.event_b {
    background: #fa0;
}

.event_h {
    background: #f0f;
}

.event_i {
    background: #f77;
}

.event_d {
    background: #ffffb3;
}

.event_m {
    background: #77f;
}

.event_o {
    background: #b2b266;
}
